.info-card{
    padding: 0 5px;
}
.info-primary{
    background-color: #03c048;
}
.info-dark{
    background-color: #40485B;
}
.info-icon{
    font-size: 3em;
}
.info-container{
    height: 120px;
    padding: 40px;
}
.icon{
    margin-right: 20px;
}